/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    macros {
        transformPS: transformPS {
            compatible = "zmk,behavior-macro";
            label = "PS_transform";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_tap>,
                <&kp T>,
                <&macro_release>,
                <&kp LCTRL>;
        };
        horzFlip: horzFlip {
            compatible = "zmk,behavior-macro";
            label = "PS_horzFlip";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_tap>,
                <&kp F>,
                <&macro_release>,
                <&kp LCTRL>;
        };
        canvasSize: canvasSize {
            compatible = "zmk,behavior-macro";
            label = "PS_canvasSize";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LALT &kp LCTRL>,
                <&macro_tap>,
                <&kp C>,
                <&macro_release>,
                <&kp LALT &kp LCTRL>;
        };
        imageSize: imageSize {
            compatible = "zmk,behavior-macro";
            label = "PS_imageSize";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL &kp LEFT_ALT>,
                <&macro_tap>,
                <&kp I>,
                <&macro_release>,
                <&kp LCTRL &kp LALT>;
        };
        smartObject: smartObject {
            compatible = "zmk,behavior-macro";
            label = "PS_smartObject";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LSHIFT &kp LCTRL>,
                <&macro_tap>,
                <&kp Q>,
                <&macro_release>,
                <&kp LEFT_SHIFT &kp LEFT_CONTROL>;
        };
    };

    combos {
        compatible = "zmk,combos";

        Photoshop_Backspace {
            bindings = <&kp BACKSPACE>;
            key-positions = <24 1>;
            slow-release;
            layers = <0>;
            timeout-ms = <500>;
        };

        Photoshop_Dublicate {
            bindings = <&kp LA(J)>;
            key-positions = <36 16>;
            layers = <0>;
            timeout-ms = <500>;
        };

        Photoshop_ZoomIn {
            bindings = <&kp LC(MINUS)>;
            key-positions = <29 24>;
            layers = <0>;
            timeout-ms = <500>;
        };

        Photoshop_ClippingMask {
            bindings = <&kp LC(LA(G))>;
            key-positions = <24 36 15>;
            layers = <0>;
            timeout-ms = <500>;
        };
    };
	

    keymap {
        compatible = "zmk,keymap";

        Photoshop_01 {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp ESC    &mt BACKSPACE ENTER  &kp I        &kp E     &kp SPACE  &mt R LC(J)   &none  &none  &none  &none  &none  &none
&kp LSHFT  &kp LC(A)            &mt S LC(T)  &kp Q     &kp D      &kp G         &none  &none  &none  &none  &none  &none
&kp LCTRL  &kp Z                &kp X        &kp C     &kp V      &kp LC(PLUS)  &none  &none  &none  &none  &none  &none
                                             &kp LALT  &mo 1      &mo 8         &none  &none  &none
            >;
        };

        Photoshop_02 {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp LC(Y)         &mt F LC(H)  &kp LS(LC(COMMA))  &kp F5             &kp LS(LA(LC(H)))    &mt LC(LA(LS(L))) LC(L)  &none  &none  &none  &none  &none  &none
&kp LEFT_SHIFT    &none        &kp LS(M)          &kp LS(LC(M))      &mt LC(F) LA(LC(A))  &mt LC(LS(U)) LC(U)      &none  &none  &none  &none  &none  &none
&kp LEFT_CONTROL  &kp L        &kp LS(LC(X))      &mt LC(N) LS(F2)   &none                &mt LS(LA(LC(M))) LC(M)  &none  &none  &none  &none  &none  &none
                                                  &kp LS(LA(LC(G)))  &trans               &to 9                    &none  &none  &none
            >;
        };

        ArtStudio_01 {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp TAB    &kp EXCL  &kp AT  &kp HASH  &kp DLLR  &kp PRCNT  &kp CARET  &kp AMPS   &kp KP_MULTIPLY  &kp LPAR  &kp RPAR  &kp BSPC
&kp LCTRL  &trans    &trans  &trans    &trans    &trans     &kp MINUS  &kp EQUAL  &kp LBKT         &kp RBKT  &kp BSLH  &kp GRAVE
&kp LSHFT  &trans    &trans  &trans    &trans    &trans     &kp UNDER  &kp PLUS   &kp LBRC         &kp RBRC  &kp PIPE  &kp TILDE
                             &kp LGUI  &trans    &kp SPACE  &kp RET    &trans     &kp RALT
            >;
        };

        ArtStudio_02 {
            bindings = <
&kp ESC    &kp Q  &kp W         &kp E         &kp R  &kp BACKSPACE  &trans  &trans  &trans  &trans  &trans  &trans
&kp LSHFT  &kp A  &transformPS  &kp D         &kp F  &kp G          &trans  &trans  &trans  &trans  &trans  &trans
&kp LCTRL  &kp Z  &kp X         &kp C         &kp V  &kp B          &trans  &trans  &trans  &trans  &trans  &trans
                                &kp LEFT_ALT  &mo 4  &kp SPACE      &trans  &trans  &trans
            >;
        };

        PaintStorm_01 {
            bindings = <
&kp N1     &kp N2       &kp N5      &kp N7    &kp N8  &kp N0         &trans  &trans  &trans  &trans  &trans  &trans
&trans     &trans       &trans      &trans    &trans  &kp BACKSPACE  &trans  &trans  &trans  &trans  &trans  &trans
&horzFlip  &canvasSize  &imageSize  &kp L     &kp M   &kp ENTER      &trans  &trans  &trans  &trans  &trans  &trans
                                    &kp LGUI  &trans  &to 0          &trans  &trans  &trans
            >;
        };

        PaintStorm_02 {
            bindings = <
&kp ESC         &kp Q  &kp W  &kp E         &kp R  &kp T  &trans  &trans  &trans  &trans  &trans  &trans
&kp LEFT_SHIFT  &kp A  &kp S  &kp D         &kp F  &kp G  &trans  &trans  &trans  &trans  &trans  &trans
&kp LCTRL       &kp Z  &kp X  &kp C         &kp V  &kp B  &trans  &trans  &trans  &trans  &trans  &trans
                              &kp LEFT_ALT  &mo 6  &mo 7  &trans  &trans  &trans
            >;
        };

        Max_01 {
            bindings = <
&kp F1     &kp Y  &kp U  &kp I             &kp O      &kp P          &trans  &trans  &trans  &trans  &trans  &trans
&kp LSHFT  &kp H  &kp J  &kp K             &kp L      &kp BACKSPACE  &trans  &trans  &trans  &trans  &trans  &trans
&kp SPACE  &kp N  &kp M  &kp GREATER_THAN  &kp UNDER  &kp ENTER      &trans  &trans  &trans  &trans  &trans  &trans
                         &kp LCTRL         &trans     &mo 0          &trans  &trans  &trans
            >;
        };

        Max_02 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        NumbersAndArrows {
            bindings = <
&kp NUMBER_1    &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4    &kp NUMBER_5    &kp NUMBER_6     &trans  &trans  &trans  &trans  &trans  &trans
&kp NUMBER_7    &kp NUMBER_8  &kp NUMBER_9  &kp NUMBER_0    &kp UP_ARROW    &none            &trans  &trans  &trans  &trans  &trans  &trans
&kp LEFT_SHIFT  &none         &none         &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &trans  &trans  &trans  &trans  &trans  &trans
                                            &none           &none           &trans           &trans  &trans  &trans
            >;
        };

        Keyboard_Settings {
            bindings = <
&to 0       &to 2         &to 4         &to 6         &trans        &trans        &trans  &trans  &trans  &trans  &trans  &trans
&trans      &trans        &trans        &trans        &trans        &trans        &trans  &trans  &trans  &trans  &trans  &trans
&bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &trans  &trans  &trans  &trans  &trans  &trans
                                        &trans        &trans        &trans        &trans  &trans  &trans
            >;
        };
    };
};
